<!--adv fragment-->
<div th:fragment="adv">
    <div class="adv">
        <div class="layui-carousel" id="test1">
            <div carousel-item id="picture">
            </div>
        </div>
    </div>
    <script>
        let ins;
        layui.use(['carousel', 'form'], function () {
            var carousel = layui.carousel;
            //图片轮播
            ins = carousel.render({
                elem: '#test1'
                , width: '100%'
                , height: '200px'
                , interval: 5000
            });
            let advList=[];
            $.ajax({
                type: 'GET',
                url: quark_adv_getList_api+"?postsId="+id,
                contentType: 'application/json;charset=UTF-8',
                dataType: 'json',
                async : false,
                success: function (data) {
                    debugger
                    advList=data.data;
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                }
            });
            var html;
            for (let i = 0; i < advList.length; i++) {
                html += '<div><a href="' + advList[i].webPageUrl + '"><img id="lunboimg" src="' + advList[i].imgUrl + '" style="width: 100%;height: 300px;" ></a></div>';
            }
            //轮播图播放
            $("#picture").append(html);
            ins.reload({
                elem: '#test1',
                width: '100%', //设置容器宽度
                height: '200px',
                arrow: 'always', //始终显示箭头
                //,anim: 'updown' //切换动画方式
                autoplay: false
            });
        })
    </script>

</div>