<ul th:fragment="set" xmlns:th="http://www.thymeleaf.org">
        <li class="layui-nav-item">
            <a th:href="@{/user/set}">
                <i class="layui-icon">&#xe620;</i>
                基本设置
            </a>
        </li>
        <li class="layui-nav-item">
            <a th:href="@{/user/seticon}">
                <i class="layui-icon">&#xe620;</i>
                头像设置
            </a>
        </li>
        <li class="layui-nav-item">
            <a th:href="@{/user/setpsw}">
                <i class="layui-icon">&#xe620;</i>
                密码设置
            </a>
        </li>
        <li class="layui-nav-item">
            <a th:href="@{/user/message}">
                <i class="layui-icon">&#xe611;</i>
                我的消息
            </a>
        </li>
        <li class="layui-nav-item">
            <a th:href="@{/user/collect}">
                <i class="layui-icon">&#xe687;</i>
                个人空间
            </a>
        </li>
    <li class="layui-nav-item">
        <a th:href="@{/adv/advList}">
            <i class="layui-icon">&#xe687;</i>
            合作信息
        </a>
    </li>

</ul>