<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quark.common.mapper.AdvertisementMapper">
    <resultMap id="BaseResultMap" type="com.quark.common.entity.Advertisement">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="imgUrl" jdbcType="VARCHAR" property="imgUrl"/>
        <result column="webPageUrl" jdbcType="VARCHAR" property="webPageUrl"/>
        <result column="info" jdbcType="VARCHAR" property="info"/>
        <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
        <result column="endDate" jdbcType="DATE" property="endDate"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="advLocation" jdbcType="VARCHAR" property="advLocation"/>
        <result column="userId" jdbcType="INTEGER" property="userId"/>
        <association property="label" javaType="com.quark.common.entity.Label">
            <id property="id" column="label"/>
        </association>
    </resultMap>
    <insert id="saveAdv">
        insert into quark_advertisement (imgUrl, webPageUrl, info, telephone, label, endDate, status, advLocation,
                                         userId, startDate, dailyStartTime, dailyEndTime, name)
        values (#{imgUrl}, #{webPageUrl}, #{info}, #{telephone}, #{label.id}, #{endDate}, #{status}, #{advLocation},
                #{userId}, #{startDate}, #{dailyStartTime}, #{dailyEndTime}, #{name})
    </insert>
    <update id="updateAdv">
        update quark_advertisement
        set name=#{name},
            dailyEndTime=#{dailyEndTime},
            dailyStartTime=#{dailyStartTime},
            startDate=#{startDate},
            imgUrl=#{imgUrl},
            webPageUrl=#{webPageUrl},
            info = #{info},
            telephone = #{telephone},
            label=#{label.id},
            endDate=#{endDate},
            status=#{status},
            advLocation=#{advLocation}
        where id = #{id}
    </update>
    <select id="getAdvList" resultMap="BaseResultMap">
        select imgUrl,
               webPageUrl,
               info,
               telephone,
               label,
               endDate,
               status,
               advLocation,
               userId,
               label,
               startDate,
               dailyStartTime,
               dailyEndTime,
               name
        from quark_advertisement
    </select>
    <select id="getAdvListByLabel" resultMap="BaseResultMap">
        select imgUrl,
               webPageUrl,
               info,
               telephone,
               label,
               endDate,
               status,
               advLocation,
               userId,
               label,
               startDate,
               dailyStartTime,
               dailyEndTime,
               name
        from quark_advertisement
        where label = #{label}
    </select>
    <select id="getAdvListByUserId" resultType="com.quark.common.entity.Advertisement">
        select imgUrl,
               webPageUrl,
               info,
               telephone,
               label,
               endDate,
               status,
               advLocation,
               userId,
               label,
               startDate,
               dailyStartTime,
               dailyEndTime,
               name
        from quark_advertisement
        where userId = #{userId}
    </select>
    <select id="findBypage" resultType="com.quark.common.entity.Advertisement">
        select a.id,
               a.imgUrl,
               a.webPageUrl,
               a.info,
               a.telephone,
               a.label,
               a.endDate,
               a.status,
               a.advLocation,
               a.userId,
               a.label,
               a.startDate,
               a.dailyStartTime,
               a.dailyEndTime,
               a.name
        from quark_advertisement a
        <where>
            <if test="name!=null and name!=''">
                a.name like concat('%',#{name},'%')
            </if>
            <if test="id!=null">
                and a.id = #{id}
            </if>
            <if test="status!=null">
                and a.status = #{status}
            </if>
            <if test="telephone!=null and telephone!=''">
                and a.telephone = #{telephone}
            </if>
        </where>
    </select>


</mapper>