<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quark.common.mapper.CollectMapper">
    <resultMap id="BaseResultMap" type="com.quark.common.entity.Collect">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="inittime" jdbcType="DATE" property="initTime"/>
        <association property="posts" javaType="com.quark.common.entity.Posts">
            <id property="id" column="posts_id"/>
            <result column="title" jdbcType="VARCHAR" property="title"/>
            <result column="init_time" jdbcType="DATE" property="initTime"/>
            <result column="content" jdbcType="VARCHAR" property="content"/>
            <association property="label" javaType="com.quark.common.entity.Label">
                <id property="id" column="label_id"/>
            </association>
        </association>
        <association property="user" javaType="com.quark.common.entity.User">
            <id property="id" column="user_id"/>
        </association>
    </resultMap>
    <delete id="deleteByUserIdAndPostId">
        delete  from quark_collect where posts_id = #{postId} and user_id = #{user.id}
    </delete>

    <select id="getCollectListByUserId" resultMap="BaseResultMap">
        select a.id,a.posts_id,a.user_id,a.init_time as `inittime`,b.*
        from quark_collect a,quark_posts b
        where a.user_id = #{id} and a.posts_id = b.id
    </select>
    <select id="selectByUserIdAndPostId" resultMap="BaseResultMap">
        select a.id,a.posts_id,a.user_id,a.init_time as `inittime`
        from quark_collect a
        where a.user_id = #{userId} and a.posts_id = #{postId}
    </select>

</mapper>