<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quark.common.mapper.MyReplyMapper">

    <resultMap id="reply" type="com.quark.common.entity.MyReply">
        <id property="id" column="id"/>
        <result property="content" column="content"/>
        <result property="initTime"  column="init_time"/>
        <association property="user" javaType="com.quark.common.entity.User" >
            <id property="id" column="user_id"/>
            <result property="username" column="username"/>
        </association>
        <collection property="myReplies" select="selectRereply" column="id"  ofType="com.quark.common.entity.MyReply"/>
    </resultMap>
    <resultMap id="Rereply" type="com.quark.common.entity.MyRereply">
        <id property="id" column="id"/>
        <result property="content" column="content"/>
        <result property="initTime"  column="init_time"/>
        <association property="hfuser" javaType="com.quark.common.entity.User" >
            <id property="id" column="hfuser_id"/>
            <result property="username" column="hfusername"/>
        </association>
        <association property="bhfuser" javaType="com.quark.common.entity.User" >
            <id property="id" column="bhfuser_id"/>
            <result property="username" column="bhfusername"/>
        </association>
    </resultMap>
    <select id="listMyReply" resultMap="reply">
        select r.*,
               u.username
        from quark_reply r,
             quark_user u
        where r.user_id =u.id
        <if test="ew.sqlSegment != null and ew.sqlSegment != ''">
            AND ${ew.sqlSegment}
        </if>
    </select>
    <select id="selectRereply" resultMap="Rereply">
        select
            r.*,
            u1.username hfusername,
            u2.username bhfusername
        from
            my_reply r,
            quark_user u1,
            quark_user u2
        where
            r.reply_id=#{id}
          and u1.id=r.hfuser_id
          and u2.id=r.bhfuser_id
    </select>

</mapper>