<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>私聊</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/chat.css}">
</head>
<body style="margin-top: 65px;">
<div th:include="common/header::header"></div>
<div class="chatbox">
    <div class="chat_top fn-clear">
        <!-- LOGO usericon username 暂时不写 -->
        <div class="logo"></div>
        <div class="uinfo fn-clear">
            <div class="uface"><img src="" width="40" height="40" alt=""/></div>
            <div class="uname"></div>
        </div>
    </div>
    <div class="chat_message fn-clear">
        <div class="chat_left">
            <div class="message_box" id="message_box">
                <div class="msg_item fn-clear">

                </div>
            </div>
            <div class="write_box">
                <textarea id="message" name="message" class="write_area" placeholder="说点啥吧..."></textarea>
                <div class="facebox fn-clear">
                    <div class="expression"></div>
                    <div class="chat_type" id="chat_type">私聊</div>
                    <button name="" class="sub_but">提 交</button>
                </div>
            </div>
        </div>

        <!-- 在线用户版块 -->
        <div class="chat_right">
            <ul class="user_list" id="userinfo">
            </ul>
        </div>
    </div>
</div>
<script>
<!--    获取自己的userid以及对方的userid-->
let userId;
let user;
let toUserId = $.getUrlParam('toUserId');
//连接服务器webSocket操作
var socket = new SockJS(quark_webSocket_api, undefined, {protocols_whitelist: ['websocket']});
var stompClient  = Stomp.over(socket);
$.ajax({
    type: 'GET',
    url: quark_getUser_api+ getCookie(),
    contentType: 'application/json;charset=UTF-8',
    dataType: 'json',
    async : false,
    success: function (data) {
        if (data.status == 200) {
            userId = data.data.user.id
            user = data.data.user
            connectWebSocket(userId)
        }
    },
    error: function (XMLHttpRequest, textStatus, errorThrown) {
    }
});


    function connectWebSocket(id) {
        //接收到广播推送
        stompClient.connect({},function (frame) {
            stompClient.subscribe('/topic/all', function(message){
            });

            //接收到一对一推送
            stompClient.subscribe('/user/' + id + '/message', function(message){
                debugger
                var obj = JSON.parse(message.body);
                if(obj.from.id===toUserId) {
                    var htmlData = '<div class="msg_item fn-clear">'
                        + '<div class="uface"><a href="user/home?id='+user.uid+'" target="view_window"><img src="'+user.icon+'" width="40" height="40"  alt=""/></a></div>'
                        + '<div class="item_right">'
                        + '<div class="msg own">' + obj.msg + '</div>'
                        + '<div class="name_time">' + user.name +' · '+ obj.time +'</div>'
                        + '</div>'
                        + '</div>';
                    $("#message_box").append(htmlData);
                    $('#message_box').scrollTop($("#message_box")[0].scrollHeight + 20);
                    $("#message").val('');
                }
            });
        })
    }
//构造信息
function buildMessage(msg) {
    var obj = {
        from:user,
        message:msg
    };
    return JSON.stringify(obj);
}
    //发送消息
    function sendMessage(obj) {
        stompClient.send('/user/' + toUserId + '/message', {}, obj);
    }
function showMessage(msg) {
    var htmlData = '<div class="msg_item fn-clear">'
        + '<div class="uface"><a href="user/home?id='+user.uid+'" target="view_window"><img src="'+user.icon+'" width="40" height="40"  alt=""/></a></div>'
        + '<div class="item_right">'
        + '<div class="msg own">' + msg + '</div>'
        + '<div class="name_time">' + user.username +' · '+ new Date().toString() +'</div>'
        + '</div>'
        + '</div>';
    $("#message_box").append(htmlData);
    $('#message_box').scrollTop($("#message_box")[0].scrollHeight + 20);
    $("#message").val('');
}
    // 在这里进行发送操作
    layui.use(['layer'], function () {
        $('#message_box').scrollTop($("#message_box")[0].scrollHeight + 20);
        $('.sub_but').click(function (event) {
            var text = $("#message").val();
            var msg = buildMessage(text);
            showMessage(text.toString())
            sendMessage(msg);
        });
    });
</script>
</body>
</html>