<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>私聊</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/chat.css}">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body style="margin-top: 65px;">
<div th:include="common/header::header"></div>
<div class="chatbox" id="app">

    <div class="chat_top fn-clear">
        <!-- LOGO usericon username 暂时不写 -->
        <div class="logo"></div>
        <div class="uinfo fn-clear">
            <div class="uface"><img v-bind:src="toUser.icon" width="40" height="40" alt=""/></div>
            <div class="uname"></div>
        </div>
    </div>

    <div class="chat_message fn-clear">
        <div class="chat_left">
            <div class="message_box" id="message_box">
                <div class="msg_item fn-clear">

                </div>
            </div>
            <div class="write_box">
                <textarea id="message" name="message" class="write_area" placeholder="说点啥吧..."></textarea>
                <div class="facebox fn-clear">
                    <div class="expression"></div>
                    <div class="chat_type" id="chat_type">私聊</div>
                    <button name="" class="sub_but">提 交</button>
                </div>
            </div>
        </div>

        <!-- 在线用户版块 -->
        <div class="chat_right">
            <ul id="userinfo">
                <div class="logo"></div>
                <div class="uinfo fn-clear">
                    <div class="uname" v-text="toUser.username"></div>
                    <div class="uname" v-text="toUser.email"></div>
                    <div class="uname" v-text="toUser.signature"></div>
                </div>
            </ul>
        </div>
    </div>
</div>
<script>
    <!--    获取自己的userid以及对方的userid-->
    let userId;
    let user;
    let messageCount = 0;
    debugger
    let toUserId = $.getUrlParam('toUserId');
    let toUser;
    findToUserInfo(toUserId);
    //连接服务器webSocket操作
    var socket = new SockJS(quark_webSocket_api, undefined, {protocols_whitelist: ['websocket']});
    var stompClient = Stomp.over(socket);
    $.ajax({
        type: 'GET',
        url: quark_getUser_api + getCookie(),
        contentType: 'application/json;charset=UTF-8',
        dataType: 'json',
        async: false,
        success: function (data) {
            if (data.status == 200) {
                connectWebSocket();
                user = data.data.user;
                debugger;
            }
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
        }
    });
    //第一次点击进来查询浏览历史
    getHistory(getCookie(), toUserId, 0, 20);

    function findToUserInfo(toUserId) {
        $.ajax({
            type: 'GET',
            url: quark_userInfo_detail_api + toUserId,
            contentType: 'application/json;charset=UTF-8',
            dataType: 'json',
            async: false,
            success: function (data) {
                if (data.status == 200) {
                    debugger
                    toUser = data.data;
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
            }
        });

    }

    function getHistory(token, toUserId, begin, end) {
        $.ajax({
            type: 'GET',
            url: quark_chat_History_api + "?fromToken=" + token + "&toUserId=" + toUserId + "&begin=" + begin + "&end=" + end,
            contentType: 'application/json;charset=UTF-8',
            dataType: 'json',
            async: false,
            success: function (data) {
                debugger
                for (let i = 0; i < data.data.length; i++) {
                    let msg = data.data[i];
                    var htmlData = '<div class="msg_item fn-clear">'
                        + '<div class="uface"><a href="user/home?id=' + msg.from.uid + '" target="view_window"><img src="' + msg.from.icon + '" width="40" height="40"  alt=""/></a></div>'
                        + '<div class="item_right">'
                        + '<div class="msg own">' + msg.message.toString() + '</div>'
                        + '<div class="name_time">' + msg.from.username + ' · ' + msg.time + '</div>'
                        + '</div>'
                        + '</div>';
                    $("#message_box").append(htmlData);
                    $('#message_box').scrollTop($("#message_box")[0].scrollHeight + 20);
                    //加上此行会导致消息框刷新，对方字段丢失
                    // $("#message").val('');


                }


            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
            }
        });
    }

    var app = new Vue({

        el: '#app',
        data: {
            toUser: toUser,
            messageCount:messageCount
        },
    })


    function connectWebSocket(id) {
        //接收到广播推送
        stompClient.connect({}, function (frame) {
            stompClient.subscribe('/topic/all', function (message) {
            });
            //接收到一对一推送
            stompClient.subscribe('/user/' + id + '/message', function (message) {
                addMessageBox(message);
            });
        })
    }

    function addMessageBox(message) {
        debugger
        var obj = JSON.parse(message.body);
        if (obj.from.id.toString() == toUserId) {
            var htmlData = '<div class="msg_item fn-clear">'
                + '<div class="uface"><a href="user/home?id=' + obj.from.id + '" target="view_window"><img src="' + obj.from.icon + '" width="40" height="40"  alt=""/></a></div>'
                + '<div class="item_right">'
                + '<div class="msg own">' + obj.message.toString() + '</div>'
                + '<div class="name_time">' + obj.from.username + ' · ' + obj.time + '</div>'
                + '</div>'
                + '</div>';
            $("#message_box").append(htmlData);
            $('#message_box').scrollTop($("#message_box")[0].scrollHeight + 20);
            //加上此行会导致消息框刷新，对方字段丢失
            // $("#message").val('');
        }else {
            messageCount++;
        }
    }

    //构造信息
    function buildMessage(msg) {
        var obj = {
            from: user,
            message: msg,
            to: toUserId,
            time: new Date().toString()
        };
        return JSON.stringify(obj);
    }

    //发送消息
    function sendMessage(obj) {
        debugger
        stompClient.send('/app/user', {}, obj);
    }

    function showMessage(msg) {
        var htmlData = '<div class="msg_item fn-clear">'
            + '<div class="uface"><a href="user/home?id=' + user.id + '" target="view_window"><img src="' + user.icon + '" width="40" height="40"  alt=""/></a></div>'
            + '<div class="item_right">'
            + '<div class="msg own">' + msg + '</div>'
            + '<div class="name_time">' + user.username + ' · ' + new Date().toString() + '</div>'
            + '</div>'
            + '</div>';
        $("#message_box").append(htmlData);
        $('#message_box').scrollTop($("#message_box")[0].scrollHeight + 20);
        $("#message").val('');
    }

    // 在这里进行发送操作
    layui.use(['layer'], function () {
        $('#message_box').scrollTop($("#message_box")[0].scrollHeight + 20);
        $('.sub_but').click(function (event) {
            var text = $("#message").val();
            var msg = buildMessage(text);
            showMessage(text.toString())
            sendMessage(msg);
        });
    });
</script>
</body>
</html>