<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>留下合作信息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <!-- import Vue before Element -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<div th:include="common/header::header"></div>
<div id="app">
    <el-form ref="form" :model="form" label-width="80px">
        <el-form-item label="广告名称">
            <el-input v-model="form.name"></el-input>
        </el-form-item>
        <el-form-item label="投放区域">
            <el-select v-model="form.advLocation" placeholder="请选择活动区域">
                <el-option label="区域一" value="shanghai"></el-option>
                <el-option label="区域二" value="beijing"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="投放时间">
            <el-date-picker
                    v-model="form.value2"
                    type="datetimerange"
                    :picker-options="pickerOptions"
                    range-separator="至"
                    start-placeholder="开始日期"
                    end-placeholder="结束日期"
                    align="right">
            </el-date-picker>
        </el-form-item>
        <el-form-item label="每日投放时间段">
            <el-col :span="11">
                <el-time-picker placeholder="选择开始时间" v-model="form.dailyStartTime"
                                style="width: 100%;"></el-time-picker>
            </el-col>
            <el-col :span="11">
                <el-time-picker placeholder="选择结束时间" v-model="form.dailyEndTime"
                                style="width: 100%;"></el-time-picker>
            </el-col>
        </el-form-item>
        <el-form-item label="广告标签">
            <el-checkbox-group v-model="form.label">
                <el-checkbox v-bind:label="a.id"  name="type" v-for="(a,index) of form.allLabel" :key="index">{{a.name}}</el-checkbox>
            </el-checkbox-group>
        </el-form-item>
        <el-form-item label="广告图标">
            <el-upload
                    class="upload-demo"
                    action=""
                    :http-request="upload"
                    :on-preview="handlePreview"
                    :on-remove="handleRemove"
                    :before-remove="beforeRemove"
                    multiple
                    :limit="3"
                    :on-exceed="handleExceed"
                    :file-list="form.fileList">
                <el-button size="small" type="primary">点击上传</el-button>
                <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
            </el-upload>
        </el-form-item>
        <el-form-item label="广告点击跳转地址">
            <el-input type="textarea" v-model="form.webPageUrl"></el-input>
        </el-form-item>
        <el-form-item label="留下你的联系电话">
            <el-input type="textarea" v-model="form.telephone"></el-input>
        </el-form-item>
        <el-form-item label="留下你的更多信息">
            <el-input type="textarea" v-model="form.info"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="onSubmit">立即创建</el-button>
            <el-button>取消</el-button>
        </el-form-item>
    </el-form>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            pickerOptions: {
                shortcuts: [{
                    text: '最近一周',
                    onClick(picker) {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                        picker.$emit('pick', [start, end]);
                    }
                }, {
                    text: '最近一个月',
                    onClick(picker) {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                        picker.$emit('pick', [start, end]);
                    }
                }, {
                    text: '最近三个月',
                    onClick(picker) {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                        picker.$emit('pick', [start, end]);
                    }
                }]
            },
            form: {
                name: '',
                advLocation: '',
                dailyStartTime: '',
                dailyEndTime: '',
                label: [],
                resource: '',
                desc: '',
                telephone: '',
                value2: '',
                webPageUrl: '',
                imgUrl: '',
                fileList:[],
                allLabel:[]
            }
        },
        created() {
            let that = this;
            $.get(quark_label_getall_api, function (data) {
                debugger
                if (data.status === 200) {
                    that.form.allLabel=data.data
                } else {
                    layer.msg(data.error, {icon: 5});
                }
            });
        }
        ,
        methods: {
            upload(file, imgUrl){
                let that = this
                console.log(imgUrl)
                let fd = new FormData();
                fd.append("file", file.file);
                $.ajax({
                    type: 'POST',
                    url: quark_upload_api,
                    processData: false, // 告诉jQuery不要去处理发送的数据
                    contentType: false, // 告诉jQuery不要去设置Content-Type请求头
                    dataType: 'json',
                    data : fd,
                    async: false,
                    success: function (data) {
                        app.form.imgUrl = data.data.src;
                        console.log(that.form.imgUrl)
                        debugger
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                    }
                })

            },
            handleRemove(file, fileList) {
                console.log(file, fileList);
            },
            handlePreview(file) {
                console.log(file);
            },
            handleExceed(files, fileList) {
                this.$message.warning(`当前限制选择 3 个文件，本次选择了 ${files.length} 个文件，共选择了 ${files.length + fileList.length} 个文件`);
            },
            beforeRemove(file, fileList) {
                return this.$confirm(`确定移除 ${file.name}？`);
            },
            onSubmit() {
                let data = {
                    adv: {
                        name: this.form.name,
                        imgUrl: this.form.imgUrl,
                        webPageUrl: this.form.webPageUrl,
                        info: this.form.info,
                        telephone: this.form.telephone,
                        label: {
                            id:this.form.label[0]
                        },
                        startDate: this.form.value2[0],
                        endDate: this.form.value2[1],
                        dailyStartTime: this.form.dailyStartTime,
                        dailyEndTime: this.form.dailyEndTime,
                        advLocation: this.form.advLocation,
                    },
                    token: getCookie()
                }
                $.ajax({
                    type: 'PUT',
                    url: quark_adv_add_api,
                    contentType: 'application/json;charset=UTF-8',
                    dataType: 'json',
                    data: JSON.stringify(data),
                    async: false,
                    success: function (data) {
                        debugger
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                    }
                })
            }
        }

    })
</script>
<div th:include="common/footer::footer"></div>
</body>
</html>